<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CODEMAMA</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/CODEMAMA_transparent.png')}}">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="static/images/CODEMAMA_transparent.png" alt="Logo Icon" class="logo-icon">
            CODEMAMA
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">მთავარი</a></li>
            <li><a href="#">რეიტინგი</a></li>
            <li><a href="#">პრობლემები</a></li>
            <li><a href="#">განათლება</a></li>
            <li><a href="#">ოლიმპიადა</a></li>
            <li><a href="#">დახმარება</a></li>
        </ul>
         <ul class="nav-links">
            <li><a href="{{ url_for('login') }}" class="login">ავტორიზაცია</a></li>
            <li><a href="{{ url_for('register') }}" class="register">რეგისტრაცია</a></li>
         </ul>
        <div class="search-bar">
            <input type="text" placeholder="ძიება...">
        </div>
        <div class="menu-toggle"><span>&#9776;</span></div>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        {% block content %}

        {% endblock %}
    </div>
    <script src="static/main.js"></script>
</body>
</html>