{% extends "base.html" %}
{% block content %}
<br>
<br>
<div class="registration-form">
    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="form-group">
            <label>{{ form.email.label }}</label><br>
            {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control") }}
            {% endif %}

        </div>
        <div class="form-group">
            <label>{{ form.password.label }}</label><br>
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control") }}
            {% endif %}

        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        <small class="form-text text-muted">
            <a href="#">დაგავიწყდა პაროლი?</a>
        </small>
    </form>
</div>
<div class="login-link">
    <p class="white-signin">არ გაქვს ანგარიში? -> <a href="{{ url_for('register') }}">რეგისტრაცია</a></p>
</div>
{% endblock %}